body {
  margin: 0;
  height: 100vh;
  background: black;
  color: #7d00ff;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 2px solid #7d00ff;
  padding: 30px;
  width: 340px;
  text-align: center;
  box-shadow: 0 0 25px #7d00ff;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.sub {
  font-size: 12px;
  margin-bottom: 20px;
  opacity: 0.7;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  background: black;
  border: 1px solid #7d00ff;
  color: #7d00ff;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #7d00ff;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #7d00ff;
}

.msg {
  margin-top: 15px;
  height: 20px;
}

.warning {
  margin-top: 15px;
  font-size: 11px;
  opacity: 0.5;
}

.panel {
  border: 1px solid #7d00ff;
  padding: 10px;
  margin: 10px 0;
}
